pipeline/PatientDataIngestion.json
{
	"name": "PatientDataIngestion",
	"properties": {
		"activities": [
			{
				"name": "CopyFromSourceToBronze",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Source",
						"type": "DatasetReference",
						"parameters": {
							"trigger_file_name": {
								"value": "@pipeline().parameters.trigger_file_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DataLake",
						"type": "DatasetReference",
						"parameters": {
							"destination": {
								"value": "@pipeline().parameters.destination",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CopyFromBronzeToSilver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CopyFromSourceToBronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/leanid_miron@epam.com/pipeline/copyFromBronzeToSilver.py",
					"baseParameters": {
						"destination": {
							"value": "@pipeline().parameters.destination",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CopyFromSilverToGold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CopyFromBronzeToSilver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/leanid_miron@epam.com/pipeline/copyFromSilverToGold.py",
					"baseParameters": {
						"patient_id": {
							"value": "@string(activity('CopyFromBronzeToSilver').output.runOutput)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"trigger_file_name": {
				"type": "string"
			},
			"destination": {
				"type": "string"
			}
		},
		"annotations": []
	}
}